@font-face {
    font-family:Montserrat;
    src: url(font/Montserrat-Black.ttf);
}
@font-face {
    font-family:Montserrat-bold;
    src: url(font/Montserrat-Bold.ttf);
}

@font-face {
    font-family:Montserrat-ExtraBold;
    src: url(font/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family:Montserrat-light;
    src: url(font/Montserrat-Light.ttf);
}

@font-face {
    font-family:Montserrat-med;
    src: url(font/Montserrat-Medium.ttf);
}

@keyframes popupLtR{
    from{
        opacity: 0%;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes popupRtL{
    from{
        opacity: 0%;
        transform: translateX(0px);
    }
    to {
        opacity: 1;
        transform: translateX(-100px);
    }
}

@keyframes popup{
    from{
        opacity: 0%;
        transform: scale(0%);
    }
    to {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes fade{
    from{
        opacity: 0%;
    }
    to {
        opacity: 1;
    }
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}   

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(15, 1, 1);
}

.container {
    width: 100%;
    height: 730px;
    background:linear-gradient(rgb(0, 0, 0, 0.70) ) ,url(bgknfx.jpg);
    
    background-size: cover;
}

.navi {
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 120px;
    cursor: pointer;
}

.menus {
    text-decoration: none;
    
}

.navi ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
    
    
}
.navi ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.navi ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navi ul li:hover::after{ 
    content: '';
    width: 100%;
    height: 3px;
    background: orange;
    position: absolute; 
    left: 0;
    bottom: -5px;
}

.contact {
    padding: 10px;
    background-color: transparent;
    width: 150px;
    border-radius: 20px;
    border: solid 2px;
    border-color: white;
    transition: ease-out 0.5s;
}
.contact a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    
}

.contact:hover {
    background-color: orange;
    text-transform: uppercase;
    width: 160px;
    padding: 13px;
    text-decoration: none;
    font-weight: bold;
    
}

.theCon {
    display: flex;
    margin-left: 1in;
    margin-top: 0in;
    justify-content: space-between;
    align-items: center;
}

.text {
    color: white;
    font-size: 25px;
    margin-top: -1in;
    font-family: Impact, sans-serif;
}

.text h1{
    transition: ease-in 0.5s;
}

.text h1:hover {
    color: orange;
    
    
    
}

.pecture {
    height: 650px;
    margin-right: 1in;
    margin-top: -0.5in;
    transition: ease-in-out 1s;
}

.pecture:hover {
    height: 700px;

}


.theCon button {
    margin: 30px;
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    background: transparent;
    border:solid, white;
    cursor: pointer;
    

}

.theCon button a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

}


.theCon button:hover {
    background-color: orange;
    
    transition-duration: 1s;
     

}


.container2 {
    justify-content: space-between;
    display: inline-flex;
    margin-top: 1.5IN;
    
}

.aboutme{
    scroll-margin-top: 100px;
    margin-left: 1in;
    margin-right: 50px;
    justify-content: center;
    color: white;
    font-size: 22px;
    font-family: 'Montserrat-light';
    animation: popupLtR 1s linear;
    animation-timeline: view();
    animation-range: entry 0%;

}

.aboutme span{
    color: rgb(255, 187, 39);
}

.aboutme h1{
    position: relative;
    display: inline-block;
    justify-content: center;
    font-family: 'Montserrat';
    color: rgb(255, 187, 39);
    font-size: 70px;
}

.aboutme h1::after{
    content: '';
    background-color: white;
    width: 0%;
    height: 3pxpx;
    position: absolute;
    left: 0;
    bottom: 7px;
    transition: 0.5s;
}

.aboutme h1:hover::after{ 
    content: '';
    width: 100%;
    height: 3px;
    background: rgb(246, 246, 246);
    position: absolute; 
    left: 0;
    bottom: 7px;
}
.shimarin{
    opacity: 100%;
    width: 500px;
    height: 500px;
    margin-left: 100PX;
    
    
}

.shimapic{
    position: relative;
}
.shimapic div{
    position: absolute;
    opacity: 10%;
    background-color: black;
    width: 500px;
    height: 500px;
    margin-left: 100PX;
    transition: ease-in 0.5s;
    
}

.shimapic div:hover{
    position: absolute;
    opacity: 60%;
    background: linear-gradient(to top, rgb(38, 18, 0), black, transparent);
    width: 500px;
    height: 500px;
    margin-left: 100PX;
    color: white;
}

.shimapic div h2{
    margin-left: 15px;
    opacity: 100%;
    margin-top: 4in;
    font-style: italic;
}

.shimapic div h2 span{
    opacity: 100%;
    color: rgb(255, 196, 0);
    margin-top: 4in;
}

.divider1{
    margin-top: 1.5in;
    height: 3px;
    width: 100%;
    opacity: 50%;
    background-color: white;
}


.containerSkills{   
    scroll-margin-top: 100px;
    display: block;
    margin: 50px;
    margin-top: 1.7in;
    
}

.containerSkills h1{
    color: rgb(255, 187, 39);   
    font-family: 'Montserrat';
    font-size: 100px;
    font-style: italic; 
    text-align: center;
    animation: popupLtR 0.3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
}
.containerSkills h1 span{
    color: rgb(255, 187, 39);   
    font-family: 'Montserrat';
    font-size: 120px;
    font-style: italic;
    text-align: center;
    
}

.containerSkills img{
    width: 390px;
    height: 550px;
    margin-top: 50px;
    margin: 35px;
    border: solid white;
    animation: popup 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    cursor: pointer;
    transition: ease 0.5s;
}

.containerSkills img:hover{
    width: 400px;
    height: 560px;
    margin: 35px;
    border: solid white;
    animation: popup 0.5s linear;
    box-shadow: 1px 1px 20px rgb(255, 200, 0);
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.skillDescription{
    animation: popupLtR 0.3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

.skillDescription h1{
    font-size: 80px;
    color: rgb(255, 187, 39);
    font-family: 'Montserrat';
    font-style: italic;
    animation: popupLtR 0.3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    text-align: center;
}

.skillDescription h4{
    font-size: 45px;
    color: rgb(255, 187, 39);
    font-family: 'Montserrat';
    font-style: italic;
    animation: popupLtR 0.3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    text-align: left;
    margin: -0.5in 0in 1in 1in ;
}
.skillDescription p{
    font-size: 23px;
    color: white;
    text-align: center;
    margin: 0.2in 1in 2in 1in;
    animation: popupLtR 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.skillDescription p span{
    font-size: 23px;
    color: rgb(255, 187, 39);
}

.columnDescription1 {
    margin-top: -1in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columnDescription2 {
    margin-top: -0.5in;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mastery{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mastery img{
    display: flex;
    justify-content: center;
    transition: ease 1.5s;
    cursor: pointer;
}

.mastery img:hover{
    height: 560px;
    width: 560px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 1px 1px 20px rgb(255, 200, 0);


}

#prog{
    scroll-margin-top: 150px;
}

#skills{
    scroll-margin-top: 100px;
}
.containerArt{
    margin-top: 1.5in;
    scroll-margin-top: 100px;
    position: relative;
}
.headerTicker{
    overflow: hidden;
    align-content: center;
    height: 1.5in;
    position: relative;
    background-color: rgba(255, 187, 39, 0.938);
    white-space: nowrap;    
}

.headerTrack{
    display: inline-block;
    padding-left: 100%;
    animation: scrollLeft 15s linear infinite;
}

.headerTrack span{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 100px;
    display: inline-block;
    font-weight: 1500;
    font-style: italic;
    padding: 10px;    
}

#lol{
    color: rgb(65, 65, 65);
}


.firstgal{
    display: flex;
    position: relative;
    align-items: center;
    align-content: space-between;
    margin: 1in 1in 1in 1in;
    
}

.tci{
    width: 640px;
    height: 450px;
    border: solid white;
    cursor: pointer;
    transition: ease 1s;
    position: relative;
    animation: popupLtR 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}


.tci:hover{
    width: 660px;
    height: 470px;
    border: solid orange;
    box-shadow: 1px 1px 20px rgb(255, 200, 0);
}

.tako{
    margin-left: 1.5in;
    height: 450px;
    width: 450px;
    border: solid white;
    cursor: pointer;
    transition: ease 1s;
    animation: popupLtR 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

.tako:hover{
    width: 470px;
    height: 470px;
    border: solid orange;
    box-shadow: 1px 1px 20px rgb(255, 200, 0);
}

.secondgal{
    display: flex;
    position: relative;
    align-items: center;
    align-content: space-between;
    margin: 0in 1in 1in 0.7in;
}

.girl{
    width: 450px;
    height: 550px;
    transition: ease 1s;
    animation: popupLtR 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.girl:hover{
    width: 470px;
    height: 570px;
    border: solid orange;
    box-shadow: 1px 1px 20px rgb(255, 200, 0);
}

.bang{
    margin: 30px;
    width: 400px;
    height: 400px;
    transition: ease 1s;
    animation: popupLtR 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.bang:hover{
    margin: 30px;
    width: 430px;
    height: 430px;
    border: solid orange;
    box-shadow: 1px 1px 20px rgb(255, 200, 0);
}

.kazuha{
    width: 450px;
    height: 550px;
    transition: ease 1s;
    animation: popupLtR 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.kazuha:hover{
    width: 470px;
    height: 570px;
    border: solid orange;
    box-shadow: 1px 1px 20px rgb(255, 200, 0);
}

.GALLERY h1{
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 70px;
    font-style: italic;
    animation: popupLtR 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

.GALLERY span{
    text-align: center;
    color: rgb(255, 187, 39);
    font-family: 'Montserrat';
}

.footer{
    margin-top: 1.5in;
    height: 400px;
    width: 100%;    
    background-image: url(bgknfx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
}

.footerOverlay{
    background-color: rgba(68, 50, 0, 0.881); 
    height: 400px;
    width: 100%;
}

.column1 span{
    font-family: 'Montserrat-bold';
    font-size: 40px;
    color: white;
    margin: 0.3in 1in 1in 1.5in;
    position: absolute;
}

.column1 p{
    font-family: 'Montserrat-med';
    font-size: 25px;
    color: white;
    margin: 1in 1in 1in 1.5in;
    position: absolute;
}

.column2soc span{
    font-family: 'Montserrat-bold';
    font-size: 40px;
    color: white;
    margin: 0.3in 1in 1in 10in;
    position: absolute;
}

.column2soc p{
    font-family: 'Montserrat-med';
    font-size: 25px;
    color: white;
    margin: 1in 1in 1in 9in;
    position: absolute;
}

.footer img{
    width: 280px;
    height: 150px;
    align-items: center;
    margin-left: 6.5in;
    margin-top: 2.5in;
}


.footer h6{
    text-align: center;
    margin-top: -0.5in;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

.GALLERY button{
    align-items: center;
    align-content: center;
    position: absolute;
    margin-left: 6.6in;
    font-size: 20px;
    margin-top: 50px;
    padding: 10px;
    width: 2in;
    border-radius: 30px;
    border: solid white;
    background-color: transparent;
    color: white;
    transition: ease 1s;
}

.GALLERY button a{
    text-decoration: none;
    color: white;
}

.GALLERY button:hover{
    align-items: center;
    align-content: center;
    position: absolute;
    margin-left: 6.6in;
    font-size: 20px;
    margin-top: 55px;
    padding: 10px;
    width: 2in;
    border-radius: 30px;
    border: solid white;
    background-color: rgb(255, 175, 28);
    color: white;
}